{
	"extends": "@martin-kolarik/eslint-config/typescript",
	"overrides": [
		{
			"files": [
				"src"
			],
			"extends": "@martin-kolarik/eslint-config/typescript-type-checking",
			"parserOptions": {
				"project": true
			}
		}
	]
}
