{
	"extends": "@martin-kolarik/eslint-config/typescript",
	"ignorePatterns": [
		"coverage/**",
		"data/**",
		"dist/**"
	],
	"overrides": [
		{
			"files": [
				"src/**/*.ts"
			],
			"extends": "@martin-kolarik/eslint-config/typescript-type-checking",
			"parserOptions": {
				"project": true
			}
		},
		{
			"files": [
				"**"
			],
			"rules": {
				"no-duplicate-imports": "off",
				"no-extra-parens": "off"
			}
		},
		{
			"files": [
				"public/**"
			],
			"parserOptions": {
				"sourceType": "script"
			},
			"rules": {
				"no-undef": "off",
				"no-unused-vars": "off"
			}
		},
		{
			"files": [
				"test/**"
			],
			"rules": {
				"@typescript-eslint/no-explicit-any": "off",
				"@typescript-eslint/no-non-null-assertion": "off",
				"no-restricted-properties": [
					"error",
					{
						"object": "sinon",
						"property": "spy"
					},
					{
						"object": "sinon",
						"property": "stub"
					},
					{
						"object": "sinon",
						"property": "mock"
					},
					{
						"object": "sinon",
						"property": "fake"
					},
					{
						"object": "sinon",
						"property": "restore"
					},
					{
						"object": "sinon",
						"property": "reset"
					},
					{
						"object": "sinon",
						"property": "resetHistory"
					},
					{
						"object": "sinon",
						"property": "resetBehavior"
					}
				]
			}
		}
	]
}
