version: "3.8"

services:
  redis:
    image: redislabs/redismod:latest
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: /usr/local/etc/redis/redis.conf
