services:
  redis-standalone-1:
    image: redis/redis-stack-server:7.4.0-v1
    ports:
      - "7001:7001"
    volumes:
      - ./config/redis/standalone-1.conf:/redis-stack.conf
      - /data/redis/7001:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-standalone-2:
    image: redis/redis-stack-server:7.4.0-v1
    ports:
      - "7002:7002"
    volumes:
      - ./config/redis/standalone-2.conf:/redis-stack.conf
      - /data/redis/7002:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-standalone-3:
    image: redis/redis-stack-server:7.4.0-v1
    ports:
      - "7003:7003"
    volumes:
      - ./config/redis/standalone-3.conf:/redis-stack.conf
      - /data/redis/7003:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-node-01:
    image: redis/redis-stack-server:7.4.0-v1
    command: [ "bash", "/home/runner/mounted/node.sh", "7101" ]
    network_mode: "host"
    volumes:
      - ./config/redis:/home/runner/mounted
      - /data/redis/7101:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-node-02:
    image: redis/redis-stack-server:7.4.0-v1
    command: [ "bash", "/home/runner/mounted/node.sh", "7102" ]
    network_mode: "host"
    volumes:
      - ./config/redis:/home/runner/mounted
      - /data/redis/7102:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-node-03:
    image: redis/redis-stack-server:7.4.0-v1
    command: [ "bash", "/home/runner/mounted/node.sh", "7103" ]
    network_mode: "host"
    volumes:
      - ./config/redis:/home/runner/mounted
      - /data/redis/7103:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-node-04:
    image: redis/redis-stack-server:7.4.0-v1
    command: [ "bash", "/home/runner/mounted/node.sh", "7104" ]
    network_mode: "host"
    volumes:
      - ./config/redis:/home/runner/mounted
      - /data/redis/7104:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-node-05:
    image: redis/redis-stack-server:7.4.0-v1
    command: [ "bash", "/home/runner/mounted/node.sh", "7105" ]
    network_mode: "host"
    volumes:
      - ./config/redis:/home/runner/mounted
      - /data/redis/7105:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-node-06:
    image: redis/redis-stack-server:7.4.0-v1
    command: [ "bash", "/home/runner/mounted/node.sh", "7106" ]
    network_mode: "host"
    volumes:
      - ./config/redis:/home/runner/mounted
      - /data/redis/7106:/data
    env_file:
      - ./.env.redis
    restart: unless-stopped
    stop_grace_period: 3m
  redis-cluster-creator:
    image: redis/redis-stack-server:7.4.0-v1
    command: bash -c 'redis-cli -a "$$REDIS_PASSWORD" --cluster create $$REDIS_PUBLIC_IP:7101 $$REDIS_PUBLIC_IP:7102 $$REDIS_PUBLIC_IP:7103 $$REDIS_PUBLIC_IP:7104 $$REDIS_PUBLIC_IP:7105 $$REDIS_PUBLIC_IP:7106 --cluster-replicas 0 --cluster-yes'
    network_mode: "host"
    depends_on:
      - redis-node-01
      - redis-node-02
      - redis-node-03
      - redis-node-04
      - redis-node-05
      - redis-node-06
    env_file:
      - ./.env.redis
