version: "3.8"

services:
  redis:
    image: redislabs/redismod:latest
    ports:
      - "6379:6379"
    volumes:
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
    command: /usr/local/etc/redis/redis.conf

  mariadb:
    image: mariadb:10.11.5
    environment:
      - MARIADB_DATABASE=directus
      - MARIADB_USER=directus
      - MARIADB_PASSWORD=password
      - MARIADB_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
