openapi: 3.1.0
info:
  title: Globalping API
  summary: The public Globalping API.
  description: |
    The Globalping API allows you to monitor, debug, and benchmark your internet infrastructure using a globally distributed network of probes.

    The API is public, free to use, and doesn't require authentication.
    However, it implements rate limits to ensure fair usage and reliability, and some of the limits
    are higher for authenticated users. Sign up on the [Globalping Dashboard](https://dash.globalping.io/) to enjoy the higher limits.

    Root endpoint: https://api.globalping.io

    ## Limits and credits

    | Operation | Unauthenticated user | Authenticated user |
    |---|---|---|
    | **Measurements** |||
    | Create a measurement | 250 tests/hour<br/>50 probes/measurement | 500 tests/hour*<br/>500 probes/measurement |
    | Get a measurement by ID | 2 requests/second/measurement | 2 requests/second/measurement |
    | **Probes** |||
    | List probes currently online | no limit | no limit |
    | **Limits** |||
    | Get current rate limits | no limit | no limit |

    \*Additional measurements may be created by spending credits. Each test above the limit costs one credit. Learn more about credits on the [Globalping website](https://globalping.io/credits).

    ## Client guidelines

    If you're implementing an application that interacts with the API, please refer to the "Client guidelines"
    section in the description of each endpoint. This way, you can provide the best UX and reduce the likelihood
    of your app breaking in the future.

    ### General guidelines for non-browser-based apps:

    - Set a `User-Agent` header. We recommend that you follow the format and approach [used here](https://github.com/jsdelivr/data.jsdelivr.com/blob/60c5154d26c403ba9dd403a8ddc5e42a31931f0d/config/default.js#L9).
    - Set an `Accept-Encoding` header with a value of either `br` (preferred) or `gzip`, depending on what your client can support. Compression has a significant impact on the response size.
    - Implement ETag-based client-side caching using the `ETag`/`If-None-Match` headers when requesting the measurement status.
  version: 1.0.0
  termsOfService: https://github.com/jsdelivr/globalping
  contact:
    url: https://github.com/jsdelivr/globalping/issues
    email: d@globalping.io
  license:
    name: Open Software License 3.0
    identifier: OSL-3.0
servers:
  - url: https://api.globalping.io
tags:
  - name: Measurements
  - name: Probes
  - name: Limits
paths:
  /v1/measurements:
    post:
      summary: Create a measurement
      operationId: createMeasurement
      description: |
        Creates a new measurement with parameters set in the request body.
        The measurement runs asynchronously and you can retrieve its current state at the URL returned in the `Location` header.

        ### Client guidelines

        - If the application is running in interactive mode, set the `inProgressUpdates` option to `true` to have the API
          return partial results as soon as they are available. This allows the user to see the measurement progress in real time.
          - If the application is interactive by default but also implements a "CI" mode for scripting, do not set the flag in the CI mode.
        - To perform multiple measurements using exactly the same probes, create a single measurement first, then pass its `id` in the `locations` field for the other measurements.
        - When you receive a `429` response, inform the user about their current rate limit status based on the response headers. Depending on the exact situation and on what your application supports, you may also suggest:
          - Signing in or using an access token.
          - Learning more about how to get additional credits at https://globalping.io/credits.
          - Repeating the measurement with fewer probes.
      requestBody:
        description: Use the request body to set the measurement parameters.
        content:
          application/json:
            schema:
              $ref: 'components/schemas.yaml#/components/schemas/MeasurementRequest'
            examples:
              pingLocations:
                $ref: 'components/examples.yaml#/components/examples/createMeasurementPingLocations'
              pingLocationsLimit:
                $ref: 'components/examples.yaml#/components/examples/createMeasurementPingLocationsLimit'
              pingLocationsMagic:
                $ref: 'components/examples.yaml#/components/examples/createMeasurementPingLocationsMagic'
              pingCustom:
                $ref: 'components/examples.yaml#/components/examples/createMeasurementPingCustom'
              pingLocationsMeasurementId:
                $ref: 'components/examples.yaml#/components/examples/createMeasurementPingLocationsMeasurementId'
      responses:
        '202':
          $ref: 'components/responses.yaml#/components/responses/measurements202'
        '400':
          $ref: 'components/responses.yaml#/components/responses/400'
        '422':
          $ref: 'components/responses.yaml#/components/responses/measurements422'
        '429':
          $ref: 'components/responses.yaml#/components/responses/measurements429'
      tags:
        - Measurements
      security:
        - {}
        - BearerAuth: []
        - OAuth2:
            - measurements
  /v1/measurements/{id}:
    parameters:
      - $ref: 'components/parameters.yaml#/components/parameters/measurementId'
    get:
      summary: Get a measurement by ID
      operationId: getMeasurement
      description: |
        Returns the status and results of an existing measurement.
        Measurements are typically available for up to 7 days after creation.

        > **Tip**: A link to this endpoint is returned in the `Location` response header when creating the measurement.

        ### Client guidelines

        As it can take a few seconds for a measurement to complete, you should use the following process for retrieving the results:
          1. Request the measurement to retrieve its status.
          2. If the status is `in-progress`, wait 500 milliseconds and start again at step 1. Note that it's important to wait 500 ms *after* receiving the response rather than using an "every 500ms" interval as for large measurements, the request itself may take a few hundred milliseconds to complete.
          3. If the status is anything **other** than `in-progress`, stop. The measurement is no longer running, and its results are final.

        > **Important**: Do not query the results of a single measurement more often than every 500 milliseconds. Sending more than two
        requests per second may trigger a rate limit and prevent you from accessing the results for a few seconds.
      responses:
        '200':
          $ref: 'components/responses.yaml#/components/responses/measurement200'
        '404':
          $ref: 'components/responses.yaml#/components/responses/404'
        '429':
          $ref: 'components/responses.yaml#/components/responses/measurement429'
      tags:
        - Measurements
  /v1/probes:
    get:
      summary: List probes currently online
      operationId: listProbes
      description: |
        Returns a list of all probes currently online and their metadata, such as location and assigned tags.

        > **Note**: Probes don't expose unique IDs that would allow you to explicitly select them.
        Instead, specify the requested location or an ID of an existing measurement when creating new measurements.
      responses:
        '200':
          $ref: 'components/responses.yaml#/components/responses/probes200'
      tags:
        - Probes
  /v1/limits:
    get:
      summary: Get current rate limits
      operationId: getLimits
      description: |
        Returns rate limits for the current user (if authenticated) or IP address (if not authenticated).
      responses:
        '200':
          $ref: 'components/responses.yaml#/components/responses/limits'
      tags:
        - Limits
      security:
        - {}
        - BearerAuth: []
        - OAuth2: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        For end users - generate a token in the [Globalping Dashboard](https://dash.globalping.io/tokens) and send it with your requests to get higher limits.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.globalping.io/oauth/authorize
          tokenUrl: https://auth.globalping.io/oauth/token
          refreshUrl: https://auth.globalping.io/oauth/token
          scopes:
            measurements: execute measurements under your account
      description: |
        For developers building applications on top of Globalping - if you want to allow end users to sign in and run measurements under their own accounts,
        we can provide OAuth2 access. Please e-mail d@globalping.io for more information.
