name: Node CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NODE_ENV: test

    services:
      redis:
        image: redislabs/redismod:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 18.x
      - name: Build
        run: |
          npm ci
          npm run build
      - name: Test
        run: |
          npm run lint
          npm run coverage
          npm run test:dist
          npm run test:portman
